<div class="container">
  <quill-editor
    [ngModel]="quillContent"
    (ngModelChange)="onContentUpdated($event)"
    appCustomStyles
    [config]="customStyles$ | async"
  ></quill-editor>
  <div class="style-editor">
    <h2>Test styles</h2>
    <form
      [formGroup]="customStyles"
      (input)="customStyles$.next(customStyles.getRawValue())"
    >
      <div formGroupName="elements">
        <div formGroupName="h1">
          <h3>H1</h3>
          <div>
            <label for="h1-color">Color </label>
            <input id="h1-color" type="text" formControlName="color" />
          </div>
          <div>
            <label for="h1-font">Font Family </label>
            <input id="h1-font" type="text" formControlName="fontFamily" />
          </div>
          <div>
            <label for="h1-font-size">Font Size </label>
            <input id="h1-font-size" type="text" formControlName="fontSize" />
          </div>
        </div>
        <div formGroupName="blockquote">
          <h3>Blockquote</h3>
          <div>
            <label for="bq-color">Color </label>
            <input id="bq-color" type="text" formControlName="color" />
          </div>
          <div>
            <label for="bq-font-family">Font Family </label>
            <input
              id="bq-font-family"
              type="text"
              formControlName="fontFamily"
            />
          </div>
          <div>
            <label for="bq-font-size">Font Size </label>
            <input id="bq-font-size" type="text" formControlName="fontSize" />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div
  class="output"
  [innerHTML]="quillContent"
  appCustomStyles
  [config]="customStyles$ | async"
></div>
